<ion-view view-title="Admin">
  <ion-content>
    <h1>Aqui el administrador puede realizar distintas acciones (Agregar, borrar y modificar usuarios)</h1>
  	<p></p>
  	<button class="button icon-left button-balanced ion-person-add" ng-click="agregar()">Agregar Usuario</button>
  	<p></p>
  	<button class="button icon-left button-balanced ion-edit" ng-click="modificar()">Modificar Usuario</button>
  	<p></p>
  	<button class="button icon-left button-balanced ion-trash-a" ng-click="eliminar()">Eliminar Usuario</button>
  	<p></p>
  </ion-content>
</ion-view>
