<ion-view view-title="Bienvenido">
  <ion-content>
    <div class="card calm">
  		<div class="item item-divider">
   			Bienvenido a Monkey Business
  		</div>
	  <div class="item item-text-wrap">
	    Si es la primera vez que ha ingresado a la 
	    aplicación es necesario que cree una cuenta para poder empezar
	    a disfrutar los beneficios que le trae el banco virtual Monkey Business.
	    <button class="button button-outline button-block button-calm" ng-click="login()">
		  Iniciar Sesión
		</button>
		<button class="button button-outline button-block button-positive" ng-click="logup()"> 
		  Crear Cuenta
		</button>
	  </div>  
	</div>
  </ion-content>
</ion-view>
