<ion-view view-title="Home">
  <ion-content>
  	<button class="button button-outline button-block button-calm" ng-click="actualizarDatos()">
  		Actualizar Datos
  	</button>
    <div class="card calm">
  		<div class="item item-divider">
   			Posición Global
  		</div>
	  <div class="item item-text-wrap">
	  	<p> Nombre: {{client.name + ' ' + client.last_name}} </p>
	  	<p> Cedula: {{client.id_number}} </p>
	  	<p> Nickname: {{client.nickname}}</p>
	    <p> Edad: {{client.age}} </p>
	    <p> Saldo: {{client.points}} </p>
	  </div>  
	</div>
  </ion-content>
</ion-view>
